<!-- <p>header works!</p> -->

<header>
    <div id="container">
        <div id="box1"><a [routerLink]="''" class="link">Home</a></div>
        <div id="subcontainer">
            <div class="box2">Login</div>
            <div class="box2">Signup</div>
            <div Class="box2">About</div>
        </div>
    </div>
</header>

<marquee style="background-color: black;color:tomato;" behavior="alternate" direction="right">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero nemo iure deserunt natus </marquee>
<!-- <hr> -->