<!-- <p>home works!</p>

<h1>Loan Dispersal System</h1> -->

<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 style="color: tomato;">Loan Dispersal System</h1>
        <p class="text-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor hic accusamus soluta explicabo
            dolorum error delectus dignissimos mollitia debitis!</p>
            <button class="btn bg-primary btn-lg mt-4" [routerLink]="'/userdashboard'">Get Started</button>
    </div>
</section>